<html>
<body>
   <div>ORDER :::</div>
   <div>{{dump(order)|raw}}</div>
   <div>TOTAL :::</div>
   <div>{{dump(total)|raw}}</div>
   <div>{% if ref is defined %}REF :::{% endif %}</div>
   <div>{% if ref is defined %}{{dump(ref)|raw}}{% endif %}</div>
   <div>{% if paymentUrl is defined %}PAYMENT DATA :::{% endif %}</div>
   <div>{% if paymentUrl is defined %}{{dump(paymentUrl)|raw}}{% endif %}</div>
   {% if paymentUrl.paymentUrl is defined %}<div><a href={{paymentUrl.paymentUrl}}>FIZETEK</a></div>{% endif %}
   <script>console.log("WELCOME")</script>
</body>
</html>